/* css reset */
* {
	/* margin: 0px;
	padding: 0px; */
	box-sizing: border-box;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-arrow-icon {
	font-size: 300%;
	cursor: pointer;
	color: var(--color-board-bg);
}

:root {
	--color-page-bg: rgb(250, 248, 239);
	--color-board-bg: rgb(187, 173, 160);
	--color-button-bg: rgb(143, 122, 102);

	--color-text-1: rgb(119, 110, 101);
	--color-text-2: rgb(249, 246, 242);

	--color-tile-bg-null: rgb(205, 193, 180);
	--color-tile-bg-2: rgb(238, 228, 218);
	--color-tile-bg-4: rgb(238, 225, 201);
	--color-tile-bg-8: rgb(243, 178, 122);
	--color-tile-bg-16: rgb(246, 150, 100);
	--color-tile-bg-32: rgb(247, 124, 95);
	--color-tile-bg-64: rgb(247, 95, 59);
	--color-tile-bg-128: rgb(237, 208, 115);
	--color-tile-bg-256: rgb(237, 204, 98);
	--color-tile-bg-512: rgb(237, 200, 80);
	--color-tile-bg-1024: rgb(237, 197, 63);
	--color-tile-bg-2048: rgb(237, 194, 45);
}

body {
	color: var(--color-text-1);
	background-color: var(--color-page-bg);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

button {
	background-color: var(--color-button-bg);
	color: var(--color-text-2);
	border-radius: 10px;
	font-size: 120%;

	cursor: pointer;
}

.grid-controls {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr auto 1fr;

	background-color: var(--color-text-1);
	border-radius: 15px;
	margin-top: 50px;
}

.game-board {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 10px;

	padding: 20px;
	border-radius: 10px;
	background-color: var(--color-board-bg);
}
